# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/
/.open-next/

# production
/build

# misc
.DS_Store
*.pem

# local scratch files
/tmp/

# debug
npm-debug.log*

# environment
.env*

# typescript
*.tsbuildinfo
next-env.d.ts
cloudflare-env.d.ts
